@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	margin: 0;
	padding: 0;
}

/* Line clamp utility */
.line-clamp-3 {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
